body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainBox{
  margin-left: 15%;
}

.secondaryBox{
  display: block;
  height: 400px;
  margin-left: 5%;
  margin-right: 5rem;
  width: 450px;
}

.typographyTitle{
  margin-bottom: 2rem;
  margin-left: 10%;
}

.displayFlex{
  display: flex;
}

.marginLeft{
  margin-left: 10%;
}

.moviesBox{
  flex-grow: 1;
  margin-left: 5%;
}

.textDecoration{
  text-decoration: none;
}

.menuBox{
  display: flex;
  flex-grow: 1;
  justify-content: center;

}

